@use '/src/app/styles/helpers' as *;

.medium {
  cursor: pointer;
  width: 100%;
  min-width: 170px;
  border-radius: 7px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;

  &.error {
    animation: shake 0.65s ease-in-out;
  }

  &.contained {
    background: $primary;
    border: none;
    color: $secondary;
    position: relative;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);

    &:hover {
      opacity: 0.85;
    }

    &:active {
      opacity: 0.7;
      transform: scale(0.97);
    }
  }

  &.outlined {
    background: $secondary;
    color: $background;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    border: none;

    &:hover {
      box-shadow: 0 3px 19px 0 rgb(0 0 0 / 17%);
    }
    &:active {
      transform: scale(0.97);
    }
  }
}

.small {
  height: 35px;
  font-size: 14px;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  line-height: 120%;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  &.contained {
    border: none;
    background: $primary;
    color: $secondary;

    &:hover {
      opacity: 0.8;
    }
  }

  &.outlined {
    border: 1px solid #eaeaea;
    background: $secondary;
    color: #666;

    &:hover {
      border: 1px solid rgb(169, 169, 169);
    }
  }
}
