@use '/src/app/styles/helpers' as *;

.iconButton {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  @extend %border;
  background: #fff;

  svg {
    font-size: 22px;
    color: $primary;
    transition: 0.3s;
  }

  &:hover {
    background: $primary;

    svg {
      color: $secondary;
    }
  }

  &:active {
    transform: scale(0.9);
    box-shadow:
      0 0 3px 5px rgb(0 0 0 / 7%),
      0 3px 9px rgb(0 0 0 / 5%),
      0 7px 29px rgb(0 0 0 / 5%);
  }
}
