@use '/src/app/styles/helpers' as *;

.globalBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  margin: 150px auto 0;

  @include tablet {
    padding: 16px;
    align-items: center;
  }

  h1 {
    font-size: 48px;
    text-align: center;
  }
}
